# Virtual Environment
.venv/
venv/
ENV/

# Python caching & build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/

# IDE Configuration files
.idea/
.vscode/

# Local databases & environment secrets
.env
*.db
instance/
*.log