# Created by venv; see https://docs.python.org/3/library/venv.html
# Virtual Environment
.venv/
venv/
ENV/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE Configuration files
.idea/
.vscode/

# Local databases/environment variables
.env
instance/